<%- include('../comments/header')%>
<%- include('../comments/navigation')%>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/_examples/editor_api.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
 <style>
        table{margin-bottom:10px;border-collapse:collapse;display:table;border:1px dashed #ddd}
        #test td{padding:5px;border: 1px solid #DDD;}
    </style>
<div class="container">
	<h2><%= title %></h2>
	<div class="row">
		<form action="/admin/article" method="post" id="articleForm">
		<input type="hidden" name='article[author][name]' value="<%= user.name %>">
		  <input type="hidden" name='article[author][_id]' value="<%= user._id %>">
			<div class="form-group">
			  <label for="title">标题<span>*</span></label>
			  <input type="text" class="form-control" id="title" placeholder="请输入文章标题" name="article[title]" value="">
			</div>
			<div class="form-group">
			 <%	if (artcates && artcates.length > 0) { %>
			 	<%	artcates.forEach(function(item,index){ %>
				<label class="checkbox-inline">		
					<input type="checkbox"  value="<%=index%>" name='article[categories]'> <%= item.name %>
				</label>
				 <% }) %>
				 <% } %>
			</div>
			<div class="form-group required">
			  <label for="keyword">关键词, 请用英文下单的;隔开<span>*</span></label>
			  <input type="text" class="form-control" id="keyword" placeholder="请输入关键词" name="article[keyword]" value="">
			</div>
			<div class="form-group">
			  <label for="content">内容</label>
				<textarea class="form-control" rows="3" id="content" name="article[content]"></textarea>
			</div>
			<script id="editor1" type="text/plain" style="width:1024px;height:200px;">内容1</script>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</table>
	<script type="text/javascript">
	    var ue = UE.getEditor('editor1');
	    ue.ready(function(){
	        //阻止工具栏的点击向上冒泡
	        $(this.container).click(function(e){
	            e.stopPropagation()
	        })
	    });
	    $('.content').click(function(e){
	        var $target = $(this);
	        var content = $target.html();
	        var currentParnet = ue.container.parentNode.parentNode;
	        var currentContent = ue.getContent();
	        $target.html('');
	        $target.append(ue.container.parentNode);
	        ue.reset();
	        setTimeout(function(){
	            ue.setContent(content);
	        },200)
	        $(currentParnet).html(currentContent);
	    })
	</script>
</div>
<%- include('../comments/footer')%>