<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= article.title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/editormd.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src='/js/jquery-2.1.4.min.js'></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/js/moment.js'></script>
	<script type="text/javascript" src='/js/index.js'></script>
	<script type="text/javascript" src="/js/editormd.min.js"></script>
</head>
<body>
<%- include('../comments/navigation')%>
<div class="container articel-cont">
	<div class="head">
		<h1 class="title text-center"><%= article.title %></h1>
	</div>
	<div class="desc">
		<div class="author-desc">
			<div class="author">
				<div class="author-left" id='author'  data-id='<%= author._id %>'>
					<a href="/user/details?id=<%= author._id %>" >
						<img src="/userImg/<%=author.userImg %>" alt="作者头像" class='authorImg'>
					</a>
				</div>
				<div class="author-right">
					<p>
						<span class='author-icon'>作者</span>
						<a href="/user/details?id=<%= author._id %>" class='author-name'>	<%= author.name %><span class='iconfont icon-<%= author.sex %>'></span>
						</a>
			            <% if (user._id != author._id) { %>
			              <% if (author.follows.join('').indexOf(user._id) > -1) { %>
			                <span class="glyphicon glyphicon-heart active" aria-hidden="true" data-id='<%= author._id %>' id='follow'></span>
			              <% } else { %>
			                 <span class="glyphicon glyphicon-heart" aria-hidden="true" data-id='<%= author._id %>' id='follow'></span>
			              <% } %>
			            <% } %>
					</p>
					<p>
						<span class='article-time'><%=moment(article.updateAt).format('YYYY.MM.DD HH:mm') %></span>
						<span class='browseUsers'>阅读 <%= article.browseUsers.length %></span>
						<span id="articlelength"></span>
						<span class="lickLength">喜欢<span class="lickNum"><%= article.collectionUsers.length %></span></span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="content editormd-dialog-container markdown-body" id="content" style="display: none;">
		<%= article.content %>
	</div>
	<div class="article-footer">
		<% if(article.author._id != user._id) { %>
		<% if (!isCollection ) { %>
		<div class="lick" article-id="<%= article._id %>">
			<span class="ds"><i class='icon iconfont icon-hert'></i>喜欢</span>
			<span class="length lickNum lickLength" id="length"  data-toggle="modal" data-target="#MoreCollectionUsers" ><%= article.collectionUsers.length %></span>
		</div>
		<% } else { %>
		<div class="lick collectioned" article-id="<%= article._id %>">
			<span class="ds"><i class='icon iconfont icon-hert'></i>喜欢</span>
			<span class="length lickNum lickLength" id="length"  data-toggle="modal" data-target="#MoreCollectionUsers"><%= article.collectionUsers.length %></span>
		</div>
		<% } %>
		<% } %>
	</div>
</div>
<div class="articleDwon container">
	<div class="row">
		<div class="col-md-8">
			<% if(user){ %>
				<div class="articleCommentForm">
					<form id="articleCommentForm">
						<input type="hidden" name="articleComment[article]" value="<%=article._id%>">
						<textarea placeholder="写下你的评论..." name="articleComment[content]"></textarea>
						<button class="btn btn-info" type="submit">提交</button>
					</form>
				</div>
			<% } else { %>
				<div class="noUser">
					<button class="btn btn-info" data-target="#signinModal" data-toggle="modal">登陆</button>后可评论
				</div>
			<% } %>
			<div class="articleComments" id="articleComments">
				<% if (articleComments && articleComments.length > 0 ) { %>
					 <% articleComments.forEach(function(item, index){ %>
								<div class="articleComment">
									<div class="articleCommentFrom">
										<div class="left">
											<a href="/user/details?id=<%=item.from._id%>" target="_blank">
												<img src="/userImg/<%=item.from.userImg %>" alt="<%=item.from.name%>">
											</a>
										</div>
										<div class="right">
											<p class="name">
												<a href="/user/details?id=<%=item.from._id%>" target="_blank">
													<%=item.from.name%>
													<span class='iconfont icon-<%= item.from.sex %>'>
					  							</span>
												</a>
											</p>
											<p class="des">
												<span class='number'><%=index + 1 %></span> · 楼
												<span class='time'>
													<%= moment(item.createAt).format('YYYY.MM.DD HH:mm') %>
												</span>
											</p>
										</div>
									</div>
									<div class="articleCommentContent">
										<%=item.content%>
										<div class="operation">
											<span class='reply' artId="<%=item._id%>" toId="<%=item.from._id%>">
												<i class='iconfont icon-huifu'></i>回复
					  					</span>
											<% if (user._id == item.from._id || user.role >= 10 ){ %>
											<span class="deleteArticleComment pull-right" data-id="<%=item._id%>">删除</span>
											<% } %>
										</div>
									</div>
									<div class="commentlist">
										<div class="div">
										<% if (item.reply &&　item.reply.length > 0) { %>
										<% item.reply.forEach(function(element){ %>
											<div class="articleCommentTwoGroup">
												<div class="articleCommentTwo">
													<div class="left">
														<a href="/user/details?id=<%=element.from._id%>" target="_blank">
															<img src="/userImg/<%=element.from.userImg %>" alt="<%=element.from.name%>">
														</a>
													</div>
													<div class="right">
														<p class="name">
															<a href="/user/details?id=<%=element.from._id%>" target="_blank">
																<%=element.from.name%>
																<span class='iconfont icon-<%= element.from.sex %>'>
								  							</span>
															</a>
														</p>
														<p class="des">
															<span class='time'>
																<%= moment(element.createAt).format('YYYY.MM.DD HH:mm') %>
															</span>
														</p>
													</div>
												</div>
												<div class="articleCommentContent">
													<a href="/user/details?id=<%=element.to._id%>">@<%=element.to.name%></a> <%=element.content%>
													<div class="operation">
														<span class='reply' artid="<%=item._id%>" toid="<%=element.from._id%>">
															<i class='iconfont icon-huifu'></i>回复
								  					</span>
														<% if (user._id == element.from._id || user.role >= 10 ){ %>
														<span class="deleteArticleCommentTwo pull-right two" data-id="<%=element._id%>" data-art='<%=item._id %>'>删除</span>
														<% } %>
													</div>
												</div>
											</div>
										<% }) %>
										<% } %>
										</div>
									</div>
								</div>
					 <% }) %>
				<% } %> 
			</div>
		</div>
		<div class="col-md-4">
			<div class="articleBrowseUsers">
				<h3>最近浏览
					<% if(article.browseUsers.length > 5) { %>
						<span class="pull-right more"  data-toggle="modal" data-target="#MoreBrowseUsers">更多>></span>
					<% } %>
				</h3>
				<ul>
				<% if(article.browseUsers && article.browseUsers.length > 0) { %>
				<% if(article.browseUsers.length > 5) {var arr = article.browseUsers.slice(0,5) } else { var arr = article.browseUsers } %>
					<% arr.forEach(function(item){ %>
						<li>
							<a href="/user/details?id=<%= item.user._id %>">
								<img src="/userImg/<%= item.user.userImg %>">
								<%= item.user.name %>
								<span class='iconfont icon-<%= item.user.sex %>'>
							  </span>
							</a>
							<span time="<%= item.time %>" class="pull-right timeSpan">
								<%= moment(item.time).fromNow() %>
				    	</span>
						</li>
					<% }) %>
				<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="MoreBrowseUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">最近浏览(<%= article.browseUsers.length %>)</h4>
      </div>
      <div class="modal-body articleBrowseUsers" id="articleBrowseUsers" data-id="<%= article._id %>">
       <ul>
		<% if(article.browseUsers && article.browseUsers.length > 0) { %>
		<% if(article.browseUsers.length > 10) {article.browseUsers.length = 10} %>
			<% article.browseUsers.forEach(function(item){ %>
				<li>
					<a href="/user/details?id=<%= item.user._id %>">
						<img src="/userImg/<%= item.user.userImg %>">
						<%= item.user.name %>
						<span class='iconfont icon-<%= item.user.sex %>'>
					  </span>
					</a>
					<span time="<%= item.time %>" class="pull-right timeSpan">
						<%= moment(item.time).fromNow() %>
		    	</span>
				</li>
			<% }) %>
		<% } %>
		</ul>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="MoreCollectionUsers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">收藏用户(<span class="lickNum"><%= article.collectionUsers.length %></span>)</h4>
      </div>
      <div class="modal-body articleBrowseUsers" id="articleCollectionUsers" data-id="<%= article._id %>">
       <ul>
		<% if(article.collectionUsers && article.collectionUsers.length > 0) { %>
		<% if(article.collectionUsers.length > 10) {article.collectionUsers.length = 10} %>
			<% article.collectionUsers.forEach(function(item){ %>
				<li>
					<a href="/user/details?id=<%= item.user._id %>">
						<img src="/userImg/<%= item.user.userImg %>">
						<%= item.user.name %>
						<span class='iconfont icon-<%= item.user.sex %>'>
					  </span>
					</a>
					<span time="<%= item.time %>" class="pull-right timeSpan">
						<%= moment(item.time).fromNow() %>
		    	</span>
				</li>
			<% }) %>
		<% } %>
		</ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(function (){
		$("#content").html($("#content").text()).show();
		$("#articlelength").html('字数 ' + $("#content").text().trim().length);
		$(".lickLength").click(function(event) {
			$('#MoreCollectionUsers').modal('show')
			event.stopPropagation();
		});
	})
</script>
<%- include('../comments/footer')%>