<%- include('../comments/header')%>
<%- include('../comments/navigation')%>
<div class="container">
	<h2><%= title %> 最大頁數<%=Maxpage %> 當前頁數<%= page + 1 %> by <%= by %></h2>
	<table class="table table-bordered">
      <thead>
        <tr>
          <th>标题</th>
          <th>作者</th>
          <th>發布時間</th>
          <th>更新時間</th>
          <th>查看信息</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if (articles && articles.length > 0) { %>
            <% articles.forEach(function (item,index) { %>
                <% if(item) { %>
                  <tr>
                    <td>
                      <p class="list-group-item">
                         <a href="/article?id=<%=item._id %>">
                           <%= item.title %>
                         </a>
                         <span class="badge"><%= item.browseUsers.length %></span>
                      </p>
                    </td>
                    <td><a href="/user/details?id=<%=item.author._id%>"><%= item.author.name %></a></td>
                    <td><%= moment(item.createAt).format('YYYY/MM/DD HH:mm:ss') %></td>
                    <td><%= moment(item.updateAt).format('YYYY/MM/DD HH:mm:ss') %></td>
                    <td>
                      <a href="/article?id=<%=item._id %>" class='btn btn-info btn-xs'>
                      查看</a>
                    </td>
                    <td>
                    <button class="deleteActicle btn btn-danger btn-xs" data-id='<%=item._id %>'>删除</button>
                    </td>
                  </tr>
               <% }  %>
            <% }); %>
        <% } %>

      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pager">
      <%  if (page <= 0) { %>
            <li class="previous disabled">
              <a href="javascript:;">
                <span aria-hidden="true">&larr;</span> Older
              </a>
            </li>
      <%  } else { %>
            <% var url = '?index=' + (page-1) %>
            <% if (userId) { url = url + '&id=' + userId } %>
            <% if (artCate) { url = url + '&artCate=' + artCate } %>
            <li class="previous">
              <a href="<%=url%>">
                <span aria-hidden="true">&larr;</span> Older
              </a>
            </li>
      <%  } %>
      <%  if (page >= Maxpage-1) { %>
            <li class="next disabled">
              <a href="javascript:;">Newer <span aria-hidden="true">&rarr;</span>
              </a>
            </li>
      <%  } else { %>
            <% var url = '?index=' + (page+1) %>
            <% if (userId) { url = url + '&id=' + userId } %>
            <% if (artCate) { url = url + '&artCate=' + artCate } %>
            <li class="next">
              <a href="<%=url%>">Newer <span aria-hidden="true">&rarr;</span>
              </a>
            </li>
      <%  } %>
      </ul>
    </nav>
</div>
<%- include('../comments/footer')%>