<%- include('../comments/header')%>
<%- include('../comments/navigation')%>
<div class="container article-list">
  <ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/admin/article/list">文章列表</a></li>
    <li class="active"><%= by %></li>
  </ol>
   <% if (articles && articles.length > 0) { %>
  <div class="article-box">
    <% articles.forEach(function (item,index) { %>
        <% if(item) { %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <a href="/article?id=<%= item._id %>">
                <%= item.title %>
                </a>
              </h4>
              <p class="author-create">
                <a href="/user/details?id=<%=item.author._id %>">
                  <%=item.author.name %>
                </a> 
                <%= moment(item.createAt).format('MM/DD HH:mm:ss') %> 
              </p>
              <p class="desc"><%= item.desc %></p>
            </div>
          </div>
       <% }  %>
    <% }); %>
  </div>
  <% } %>
  <div class="article-list-page">
    <% if (Maxpage > 0) { %>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
              <span aria-hidden="true">第<%= page %>/<%= Maxpage %>页 每页<%= pageArts %>条> </span>
          </li>
          <% var url='' %>
          <% if (userId) { url = url + '&id=' + userId } %>
          <% if (artCate) { url = url + '&artCate=' + artCate } %>
          <li><a href="?index=1<%= url %>">首页</a></li>
          <li>
            <a href="?index=<%= page - 1 %><%= url %>" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <% if (page - 2 > 0) { %>
            <li><a href="?index=<%= page - 2 %><%= url %>"><%= page - 2 %></a></li>
          <% } %>
          <% if (page - 1 > 0) { %>
            <li><a href="?index=<%= page - 1 %><%= url %>"><%= page - 1 %></a></li>
          <% } %>
          <li class="active"><a href="javascript:;"><%= page %></a></li>
          <% if (page + 1 <= Maxpage) { %>
            <li><a href="?index=<%= page + 1 %><%= url %>"><%= page + 1 %></a></li>
          <% } %>
          <% if (page + 2 <= Maxpage) { %>
            <li><a href="?index=<%= page + 2 %><%= url %>"><%= page + 2 %></a></li>
          <% } %>
          <li>
            <a href="?index=<%= page + 1 %><%= url %>" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li><a href="?index=<%= Maxpage %><%= url %>">尾页</a></li>
        </ul>
      </nav>
    <% } %>
  </div>
</div>
<%- include('../comments/footer')%>