<%- include('../comments/header')%>
<%- include('../comments/navigation')%>
<div class="container">
	<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li class="active">文章分类列表</li>
  </ol>
  <div class="row articlecategory-list">
    <% if (artCates && artCates.length > 0) { %>
      <% artCates.forEach(function (item,index) { %>
        <div class="col-sm-12 col-md-6">
          <a href="/admin/article/list?artCate=<%=item.name%>" class="list-group-item" title="查看">
            <span class="badge"><%= item.articles.length %></span>
            <%= item.name %>
          </a>
        </div>
      <% }); %>
    <% } %>
  </div>
	 <!-- <table class="table table-bordered">
     <thead>
        <tr>
          <th>分类名字</th>
          <th>创建时间</th>
          <th>更新时间</th>
          <th>查看</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if (artCates && artCates.length > 0) { %>
            <% artCates.forEach(function (item,index) { %>
                <tr>
                  <td>
                    <span class="list-group-item" >
                    <%= item.name %>
                      <span class="badge"><%= item.articles.length %></span>
                    </span>
                  </td>
                  <td><%= moment(item.createAt).format('YYYY/MM/DD HH:mm:ss') %></td>
                  <td><%= moment(item.updateAt).format('YYYY/MM/DD HH:mm:ss') %></td>
                  <td>
                    <a href="/admin/article/list?artCate=<%=item.name%>" class='btn btn-info btn-xs'>
                    查看</a>
                  </td>
                  <td>
                  <button class="deleteArticleCategory btn btn-danger btn-xs" data-id='<%=item._id %>'>删除</button>
                  </td>
                </tr>
            <% }); %>
        <% } %>
      </tbody>
    </table> -->
</div>
<%- include('../comments/footer')%>