<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= article.title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src='/js/jquery-2.1.4.min.js'></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/js/index.js'></script>
</head>
<body>
<%- include('../comments/navigation')%>
<div class="container">
	<div class="head">
		<h1 class="title text-center"><%= article.title %></h1>
		<div class="des text-center">
			<span><a href="/user/details?id=<%= article.author._id %>">作者：<%= article.author.name %></a></span>
			<span>发布时间: 
				<span class=" timeSpan" time="<%= article.createAt %>" >
                    <%= moment(parseInt(article.updateAt)).fromNow() %>
                </span>
			</span>
			<!-- <span>更新: <%=moment(article.createAt).format('YYYY/MM/DD HH:mm:ss') %></span> -->
		</div>
	</div>
	<div>浏览人数:<%= article.browseUsers.length %></div>
	<!-- <% if (article.browseUsers && article.browseUsers.length > 0) { %>
	  <% article.browseUsers.forEach(function(item,index){ %>
		   <p>用户名:<%= item.user.name %>   </p>
		   <p>id : <%= item.user._id %></p> 
		   <p>time :<%= item.time %>   </p> 
	  <% }) %>
	<% } %> -->
	<div class="content" id="content" style="display: none;">
		<%= article.content %>
	</div>
</div>
<script type="text/javascript">
	$(function (){
		$("#content").html($("#content").text()).show();
	})
</script>
<%- include('../comments/footer')%>