<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= article.title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script type="text/javascript" src='/js/jquery-2.1.4.min.js'></script>
	<script type="text/javascript" src='/js/bootstrap.min.js'></script>
	<script type="text/javascript" src='/js/moment.js'></script>
	<script type="text/javascript" src='/js/index.js'></script>
	<script type="text/javascript" src=""></script>
</head>
<body>
<%- include('../comments/navigation')%>
<div class="container articel-cont">
	<div class="head">
		<h1 class="title text-center"><%= article.title %></h1>
	</div>
	<div class="desc">
		<div class="author-desc">
			<div class="author">
				<div class="author-left" id='author'  data-id='<%= author._id %>'>
					<a href="/user/details?id=<%= author._id %>" >
						<img src="/userImg/<%=author.userImg %>" alt="作者头像" class='authorImg'>
					</a>
				</div>
				<div class="author-right">
					<p>
						<span class='author-icon'>作者</span>
						<a href="/user/details?id=<%= author._id %>" class='author-name'>	<%= author.name %>
						</a>
			            <% if (user._id != author._id) { %>
			              <% if (author.follows.join('').indexOf(user._id) > -1) { %>
			                <span class="glyphicon glyphicon-heart active" aria-hidden="true" data-id='<%= author._id %>' id='follow'></span>
			              <% } else { %>
			                 <span class="glyphicon glyphicon-heart" aria-hidden="true" data-id='<%= author._id %>' id='follow'></span>
			              <% } %>
			            <% } %>
					</p>
					<p>
						<span class='article-time'><%=moment(article.updateAt).format('YYYY.MM.DD HH:mm') %></span>
						<span class='browseUsers'>阅读 <%= article.browseUsers.length %></span>
						<span id="articlelength"></span>
						<span id="lickNum">喜欢 <%= article.collectionUsers.length %></span>
					</p>
				</div>
			</div>
		</div>
		<% if (!isCollection) { %>
		<div class="lick" article-id="<%= article._id %>">
			<span class="ds"><i class='iconfont icon-xin'></i>喜欢</span>
			<span class="length" id="length"><%= article.collectionUsers.length %></span>
		</div>
		<% } else { %>
		<div class="lick collectioned" article-id="<%= article._id %>">
			<span class="ds"><i class='iconfont icon-xin'></i>喜欢</span>
			<span class="length" id="length"><%= article.collectionUsers.length %></span>
		</div>
		<% } %>
	</div>
	<!-- <% if (article.browseUsers && article.browseUsers.length > 0) { %>
	  <% article.browseUsers.forEach(function(item,index){ %>
		   <p>用户名:<%= item.user.name %>   </p>
		   <p>id : <%= item.user._id %></p> 
		   <p>time :<%= item.time %>   </p> 
	  <% }) %>
	<% } %> -->
	<div class="content" id="content" style="display: none;">
		<%= article.content %>
	</div>
</div>
<script type="text/javascript">
	$(function (){
		$("#content").html($("#content").text()).show();
		$("#articlelength").html('字数 ' + $("#content").text().trim().length);
	})
</script>
<%- include('../comments/footer')%>