 <%- include('../comments/header')%>
 <%- include('../comments/navigation')%>
 <div class="container warpper">
	<div class="row">
  		<div class="col-md-8">
			<% if (artcates && artcates.length > 0) { %>
				<% artcates.forEach(function(item, index){ %>
					<% if (item.articles && item.articles.length > 0) { %>
						<div class="article-box">
				  		<h2><%= item.name %>
							<% if (item.articles.length > maxNum) { %>
								<% item.articles =  item.articles.splice(0,maxNum) %>
								<a href="/admin/article/list?artCate=<%= item.name %>" class="pull-right">
										更多>>
								</a>
							<% }%>
				  		</h2>
							<% if (item.articles && item.articles.length > 0) { %>
		  				<% item.articles.forEach(function(article, num) { %>
			  				<div class="media">
							  <div class="media-body">
							  	<div class="authormessage" data-id='<%=article.article.author._id %>'>
							  		<a href="/user/details?id=<%=article.article.author._id %>">
							  			<img src="/userImg/<%=article.article.author.userImg %>" alt='头像'>
							  		</a>
							  		<span class='author-name'>
							  			<a href="/user/details?id=<%=article.article.author._id %>">
							  				<%=article.article.author.name %>
							  				<span class='iconfont icon-<%= article.article.author.sex %>'>
							  				</span>
							  			</a>
							  		</span>
							  		<span class='article-time timeSpan pull-right' 
							  			time='<%= article.article.updateAt %>'>	
							  			<%= moment(article.article.updateAt).fromNow() %>
							  		</span>
							  	</div>
							    <h4 class="media-heading">
							    	<a href="/article?id=<%=article.article._id %>" class='title'>
							    	<%= article.article.title %>
							    	</a>
							    </h4>
							  	<p class="desc"><%= article.article.desc %></p>
							   	<div class="article-about"> 
										<span class='aticle-browse'>
											<i class='icon iconfont icon-liulan'></i><%= article.article.browseUsers.length %></span>
										<span class='aticle-collection'>
											<i class='icon iconfont icon-xin'></i><%= article.article.collectionUsers.length %></span>
							   	</div>
							  </div>
							</div>
		  				<% }) %>
		  			<% } %>
		  			</div>
					<% } %>
				<% }) %>
			<% } %>
  		</div>
  		<div class="col-md-4" id="index-right-box">
  			<% if (articlesCol && articlesCol.length > 0) { %>
			<div class="article-box" id="coll-articles">
				<h2>最多收藏</h2>
				<ul class="list-group">
				<% articlesCol.forEach(function(item, index){ %>
				  <% if (index == 0) { %>
							<li class="list-group-item active">
					<% } else { %>
							<li class="list-group-item">
					<%} %>
				    <span class="badged"><i class='icon iconfont icon-liulan'></i><%= item.collectionUsers.length %></span>
				    [
				    <% item.categories.forEach(function(category, index){ %>
								<a href="/admin/article/list?artCate=<%= category.name %>"><%= category.name %> </a>
				    <% }) %>
				    ]
				    <a href="/article?id=<%= item._id %>"><%= item.title %></a>
				    <p>
				    		<a href="/user/details?id=<%= item.author._id %>">
				    				<img src="/userImg/<%=item.author.userImg %>">
				    				<%= item.author.name %>
				    				<span class='iconfont icon-<%= item.author.sex %>'>
							  		</span>
				    		</a>
				    		<span time="<%= item.updateAt %>" class="pull-right timeSpan">
										<%= moment(item.updateAt).fromNow() %>
				    		</span>
				    </p>
				  </li>
				<% }) %>
			</ul>
			</div>
			<% } %>
  			<% if (articlesHot && articlesHot.length > 0) { %>
			<div class="article-box" id="fire-articles">
				<h2>最热文章</h2>
				<ul class="list-group">
				<% articlesHot.forEach(function(item, index){ %>
				  <% if (index == 0) { %>
							<li class="list-group-item active">
					<% } else { %>
							<li class="list-group-item">
					<%} %>
				    <span class="badged"><i class='icon iconfont icon-liulan'></i><%= item.browseUsers.length %></span>
				    [
				    <% item.categories.forEach(function(category, index){ %>
								<a href="/admin/article/list?artCate=<%= category.name %>"><%= category.name %> </a>
				    <% }) %>
				    ]
				    <a href="/article?id=<%= item._id %>"><%= item.title %></a>
				    <p>
				    		<a href="/user/details?id=<%= item.author._id %>">
				    				<img src="/userImg/<%=item.author.userImg %>">
				    				<%= item.author.name %>
				    				<span class='iconfont icon-<%= item.author.sex %>'>
							  		</span>
				    		</a>
				    		<span time="<%= item.updateAt %>" class="pull-right timeSpan">
										<%= moment(item.updateAt).fromNow() %>
				    		</span>
				    </p>
				  </li>
				<% }) %>
			</ul>
			</div>
			<% } %>
			<% if (articlesDate && articlesDate.length > 0) { %>
			<div class="article-box" id="new-articles">
				<h2>最新更新</h2>
				<ul class="list-group">
				<% articlesDate.forEach(function(item, index){ %>
					<% if (index == 0) { %>
							<li class="list-group-item active">
					<% } else { %>
							<li class="list-group-item">
					<%} %>
				  	<span time="<%= item.updateAt %>" class="pull-right timeSpan">
								<%= moment(item.updateAt).fromNow() %>
				    </span>
				    [
				    <% item.categories.forEach(function(category, index){ %>
								<a href="/admin/article/list?artCate=<%= category.name %>"><%= category.name %> </a>
				    <% }) %>
				    ]
				    <a href="/article?id=<%= item._id %>"><%= item.title %></a>
				    <p>
				    		<a href="/user/details?id=<%= item.author._id %>">
				    				<img src="/userImg/<%= item.author.userImg %>" alt='头像'>
				    				<%= item.author.name %>
				    				<span class='iconfont icon-<%= item.author.sex %>'>
							  		</span>
				    		</a>
				    		<span class="pull-right"><i class='icon iconfont icon-liulan'></i><%= item.browseUsers.length %></span>
				    </p>
				  </li>
				<% }) %>
			</ul>
			</div>
			<% } %>
  		</div>
	</div>
 </div>
 <%- include('../comments/footer')%>