<%- include('../comments/header')%>
 <%- include('../comments/navigation')%>
 <div class="container">
   <div class="panel panel-default">
     <div class="panel-heading">用户名</div>
     <div class="panel-body"><%= seeUser.name %></div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">邮箱</div>
     <div class="panel-body"><%= seeUser.email %></div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">注册时间</div>
     <div class="panel-body"><%=moment(seeUser.createAt).format('YYYY/MM/DD HH:mm:ss') %>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">上次登录</div>
     <div class="panel-body">
      <%= moment(seeUser.loadTime, "YYYYMMDDHHmmss").fromNow()  %>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">留言板</div>
     <div class="panel-body">
      <% comments.forEach(function (comment,index) { %>
      <div class="media userCommentOne">
        <div class="media-left">
          <a href="#content" class="addComment" data-pid='<%=comment._id %>' data-tid='<%=comment.from._id %>'>
            <img class="media-object" src="/userImg/<%= comment.from.userImg %>" data-holder-rendered="true" style="width: 64px; height: 64px; border-radius:50%"></a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="/user/details?id=<%=comment.from._id %>"><%= comment.from.name %></a> 说 :
            <p class="pull-right"><%= moment(comment.createAt, "YYYYMMDDHHmmss").fromNow()  %></p>
          </h4>
          <%= comment.content %>
          <% if (seeUser._id == user._id || comment.from._id == user._id) { %>
          <p><a class='deleteUserComment' data-id='<%= comment._id %>'>删除</a></p>
          <% } %>
          <% if (comment.reply && comment.reply.length > 0) { %>
            <% comment.reply.forEach( function (item,index) { %>
              <div class="media userCommentTwo">
                <div class="media-left">
                  <a href="#content" class="addComment" data-pid='<%=comment._id %>' data-tid='<%=item.from._id %>'>
                    <img class="media-object" src="/userImg/<%= item.from.userImg %>" data-holder-rendered="true" style="width: 64px; height: 64px; border-radius:50%">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="/user/details?id=<%=item.from._id %>"><%= item.from.name %></a> 回复：
                    <a href="/user/details?id=<%=item.to._id %>"><%= item.to.name %></a>
                    <p class="pull-right">
                      <%= moment(item.createAt, "YYYYMMDDHHmmss").fromNow()  %>
                    </p>
                  </h4>
                  <%= item.content %>
                  <% if (seeUser._id == user._id || item.from._id == user._id) { %>
                  <p><a class='deleteUserComment' data-id='<%= comment._id %>' data-index='<%= index %>'>删除</a></p>
                  <% } %>
                </div>
              </div>
            <% }) %>
          <% } %>
        </div>
      </div>
      <% }) %>

     </div>
   </div>
   <div>
     <form method="post" action="/userComment" id="userCommentForm">
       <div class="form-group">
         <input type="hidden" name='userComment[user]' value="<%=seeUser._id%>" class="form-control">
       </div>
       <div class="form-group">
         <input type="hidden" name='userComment[from]' value="<%=user._id%>" class="form-control">
       </div>
       <div class="form-group">
          <label for="content">为用户留言</label>
          <textarea class="form-control" rows="3" id="content" name="userComment[content]"></textarea>
       </div>
       <% if (user) { %>
        <button type="submit" class="btn btn-info">Submit</button>
       <% } else { %>
        <a href="/user/signin" class="btn btn-info">请先登录</a>
       <% } %>
     </form>
   </div>
 </div>
 <%- include('../comments/footer')%>