<%- include('../comments/header')%>
<%- include('../comments/navigation')%>
<div class="container">
	<h2><%= title %></h2>
	<table class="table table-bordered">
      <thead>
        <tr>
          <th>用户名</th>
          <th>等级</th>
          <th>注册时间</th>
          <th>最近登录时间</th>
          <th>查看信息</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% if (users && users.length > 0) { %>
            <% users.forEach(function (item,index) { %>
                <tr>
                  <td><%= item.name %></td>
                  <td><%= item.role %></td>
                  <td><%= moment(item.createAt).format('YYYY/MM/DD HH:mm:ss') %></td>
                  <td><%= moment(item.loadTime, "YYYYMMDDHHmmss").fromNow()  %></td>
                  <td>
                    <a href="/user/details?id=<%=item._id %>" class='btn btn-info'>
                    查看</a>
                  </td>
                  <td>
                  <button class="deleteUser btn btn-danger" data-id='<%=item._id %>'>删除</button>
                  </td>
                </tr>
            <% }); %>
        <% } %>
      </tbody>
    </table>
</div>
<%- include('../comments/footer')%>